.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}
.big-title {
  width: 100%;
  margin: 0px 0;
}
.big-title ul {
  list-style: none;
  text-align: center;
  display: block;
}
.big-title ul li {
  margin-bottom: 10px;
  display: inline-block;
  margin: 0 5px;
}
.big-title ul li a {
  display: block;
  height: 30px;
  width: 110px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  border-radius: 15px;
}
.big-title ul li a.active {
  background: #e5000c;
  color: #fff;
  border: 1px solid #e5000c;
}
.big-title ul li a:hover {
  background: #e5000c;
  color: #fff;
  border: 1px solid #e5000c;
}
@media screen and (max-width: 991px) {
  .big-title ul li a {
    font-size: 12px;
    width: 100px;
  }
}
@media screen and (max-width: 991px) {
  .big-title ul li {
    margin-bottom: 10px;
  }
}
.big-title .long-line {
  border-top: 1px solid #f1f1f1;
}
.big-title h1 {
  font-size: 26px;
  color: #333;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}
.big-title p {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  color: #666;
}
.full-net {
  width: 100%;
  background-color: #f2f2f2;
}
.totle-net {
  padding-bottom: 30px;
}
.totle-net > h2 {
  font-size: 24px;
  color: #444444;
  text-align: center;
  margin-top: 45px;
}
.totle-net > p {
  margin-top: 20px;
  color: #666666;
  text-align: center;
}
.totle-net .statistic {
  margin-top: 45px;
}
.totle-net .statistic ul {
  width: 100%;
  display: flex;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}
@media screen and (max-width: 768px) {
  .totle-net .statistic ul {
    display: none;
  }
}
.totle-net .statistic ul li {
  flex: 1;
  cursor: pointer;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.totle-net .statistic ul li h6 {
  font-size: 14px;
  color: #333333;
  margin-top: 15px;
  text-align: center;
}
.totle-net .statistic ul li p {
  font-size: 12px;
  color: #999999;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .totle-net .statistic ul li p {
    display: none;
  }
}
.totle-net .statistic ul li.active {
  background-color: #fff;
  border-bottom: none;
  border-top: 2px solid red;
}
.totle-net .statistic ul li:hover {
  background-color: #fff;
  border-bottom: none;
  border-top: 2px solid red;
}
.totle-net .statistic #analyze {
  background-color: #fff;
}
.totle-net .statistic #analyze .analyze-page {
  height: 2px;
  display: none;
}
.totle-net .statistic #analyze .analyze-page span {
  background: red ;
}
@media screen and (max-width: 768px) {
  .totle-net .statistic #analyze .analyze-page {
    display: block;
  }
}
.totle-net .statistic #analyze .analyze {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #fff;
}
@media screen and (max-width: 1200px) {
  .totle-net .statistic #analyze .analyze {
    padding: 20px;
  }
}
.totle-net .statistic #analyze .analyze .analyze-left {
  width: 30%;
  border-right: 1px solid #e2e2e2;
  padding: 40px 0 40px 40px;
}
@media screen and (max-width: 1200px) {
  .totle-net .statistic #analyze .analyze .analyze-left {
    padding: 20px 0 20px 20px;
  }
}
.totle-net .statistic #analyze .analyze .analyze-left h2 {
  color: red;
  font-size: 24px;
  font-weight: normal;
}
@media screen and (max-width: 1200px) {
  .totle-net .statistic #analyze .analyze .analyze-left h2 {
    font-size: 16px;
  }
}
.totle-net .statistic #analyze .analyze .analyze-left p {
  font-size: 14px;
  color: #666666;
  margin-top: 24px;
}
.totle-net .statistic #analyze .analyze .analyze-right {
  width: 70%;
  padding-left: 10%;
}
.totle-net .statistic #analyze .analyze .analyze-right img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .totle-net .statistic #analyze .analyze .analyze-left,
  .totle-net .statistic #analyze .analyze .analyze-right {
    width: 100%;
  }
  .totle-net .statistic #analyze .analyze .analyze-left {
    border-right: none;
  }
  .totle-net .statistic #analyze .analyze .analyze-right {
    padding-left: 20px;
  }
}
.reason > h2 {
  font-size: 24px;
  color: #444444;
  text-align: center;
  margin-top: 45px;
}
.reason > p {
  margin-top: 20px;
  color: #666666;
  text-align: center;
}
.reason .all-reason {
  margin-top: 45px;
}
.reason .all-reason h4 {
  font-size: 14px;
  margin-top: 30px;
  color: #333;
  text-align: center;
  transition: 0.5s;
}
.reason .all-reason p {
  color: #666666;
  font-size: 12px;
  margin-top: 15px;
  padding: 0 10px;
  transition: 0.5s;
}
.reason .all-reason > div {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
}
.reason .all-reason > div .get-reason {
  width: 20%;
  padding: 0 15px;
  margin-bottom: 20px;
}
.reason .all-reason > div .get-reason .pic-box {
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: 1px solid #e2e2e2;
}
.reason .all-reason > div .get-reason .pic-box .circle-box {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 1px solid #e2e2e2;
}
.reason .all-reason > div .get-reason .pic-box .circle-box img {
  width: 50px;
  height: 50px;
  position: relative;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}
@media screen and (max-width: 1200px) {
  .reason .all-reason > div .get-reason {
    width: 25%;
  }
}
@media screen and (max-width: 992px) {
  .reason .all-reason > div .get-reason {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .reason .all-reason > div .get-reason {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .reason .all-reason > div .get-reason {
    width: 100%;
  }
}
.reason .all-reason > div .get-reason:nth-child(1) .pic-box .circle-box {
  background: url('../imgs/yzt1.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(1):hover .pic-box .circle-box {
  background: url('../imgs/yzt1_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(2) .pic-box .circle-box {
  background: url('../imgs/yzt2.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(2):hover .pic-box .circle-box {
  background: url('../imgs/yzt2_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(3) .pic-box .circle-box {
  background: url('../imgs/yzt3.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(3):hover .pic-box .circle-box {
  background: url('../imgs/yzt3_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(4) .pic-box .circle-box {
  background: url('../imgs/yzt4.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(4):hover .pic-box .circle-box {
  background: url('../imgs/yzt4_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(5) .pic-box .circle-box {
  background: url('../imgs/yzt5.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(5):hover .pic-box .circle-box {
  background: url('../imgs/yzt5_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(6) .pic-box .circle-box {
  background: url('../imgs/yzt6.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(6):hover .pic-box .circle-box {
  background: url('../imgs/yzt6_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(7) .pic-box .circle-box {
  background: url('../imgs/yzt7.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(7):hover .pic-box .circle-box {
  background: url('../imgs/yzt7_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(8) .pic-box .circle-box {
  background: url('../imgs/yzt8.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(8):hover .pic-box .circle-box {
  background: url('../imgs/yzt8_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(9) .pic-box .circle-box {
  background: url('../imgs/yzt9.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(9):hover .pic-box .circle-box {
  background: url('../imgs/yzt9_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(10) .pic-box .circle-box {
  background: url('../imgs/yzt10.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:nth-child(10):hover .pic-box .circle-box {
  background: url('../imgs/yzt10_on.png') no-repeat center center;
}
.reason .all-reason > div .get-reason:hover {
  border: 1px solid red;
}
.reason .all-reason > div .get-reason:hover .pic-box {
  border: none;
  transform: translateY(-10px);
}
.reason .all-reason > div .get-reason:hover .pic-box .circle-box {
  border: none;
}
.reason .all-reason > div .get-reason:hover h4,
.reason .all-reason > div .get-reason:hover p {
  transform: translateY(-30px);
}
.mid-banner {
  width: 100%;
  padding: 100px 120px;
  background: url('../imgs/mid_banner.jpg') no-repeat 0 0;
  background-size: 100% 100%;
}
.mid-banner h3 {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 0;
  color: #fff;
  text-align: center;
}
.mid-banner p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .mid-banner {
    padding: 100px 0 120px;
  }
  .mid-banner h3 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .mid-banner p {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .mid-banner {
    padding: 80px 0 100px;
  }
  .mid-banner h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .mid-banner p {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .mid-banner {
    padding: 80px 0 100px;
  }
  .mid-banner h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .mid-banner p {
    font-size: 13px;
  }
}
.Yi > h2 {
  font-size: 24px;
  color: #444444;
  text-align: center;
  margin-top: 45px;
}
.Yi > p {
  margin-top: 20px;
  color: #666666;
  text-align: center;
}
.Yi .Yi-case {
  margin-top: 40px;
  position: relative;
  padding-bottom: 20px;
}
.Yi .Yi-case .game {
  width: 370px;
  display: flex;
  margin-right: 20px;
}
.Yi .Yi-case .game .game-left,
.Yi .Yi-case .game .game-right {
  height: 100%;
  min-height: 420px;
}
.Yi .Yi-case .game .game-left {
  width: 200px;
  padding: 35px 15px 50px;
  background-color: #f0f0f0;
  position: relative;
}
.Yi .Yi-case .game .game-left .game-title {
  width: 45px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 20px;
  background-color: red;
  text-align: center;
}
.Yi .Yi-case .game .game-left .game-title span {
  display: block;
  padding: 10px 2px;
  font-size: 14px;
  color: #fff;
}
.Yi .Yi-case .game .game-left .game-pic {
  width: 112px;
  height: 112px;
  margin: 0 auto;
  margin-top: 40px;
}
.Yi .Yi-case .game .game-left p {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  padding: 0 20px;
}
.Yi .Yi-case .game .game-left p:first-child {
  margin-top: 20px;
}
.Yi .Yi-case .game .game-left .Yi-text {
  padding: 0 20px;
  font-size: 12px;
  color: #888;
  margin-top: 10px;
}
.Yi .Yi-case .game .game-right {
  flex: 1;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  position: relative;
}
.Yi .Yi-case .game .game-right h4,
.Yi .Yi-case .game .game-right p {
  text-align: center;
}
.Yi .Yi-case .game .game-right h4 {
  font-size: 20px;
  color: #ff3a00;
}
.Yi .Yi-case .game .game-right p {
  color: #a0a0a0;
  padding: 0 30px;
  font-size: 12px;
}
.Yi .Yi-case .game .game-right .text {
  margin-top: 10px;
}
.Yi .Yi-case .game .game-right .text p:last-child {
  color: #ff3a00;
}
.Yi .Yi-case .game .game-right .circle-box,
.Yi .Yi-case .game .game-right .circle-box-1,
.Yi .Yi-case .game .game-right .circle-box-3 {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  padding: 15px 0;
}
.Yi .Yi-case .game .game-right .circle-box .text-box,
.Yi .Yi-case .game .game-right .circle-box-1 .text-box,
.Yi .Yi-case .game .game-right .circle-box-3 .text-box {
  width: 100%;
  height: 100%;
}
.Yi .Yi-case .game .game-right .circle-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #e1e1e1;
  border-right: 5px solid #ff4800;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.Yi .Yi-case .game .game-right .circle-box-3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #e1e1e1;
  border-right: 5px solid #ff4800;
  border-bottom: 5px solid #ff4800;
  transform: rotate(-45deg);
}
.Yi .Yi-case .game .game-right .circle-box-1 {
  border: 5px solid #e1e1e1;
  border-radius: 50%;
}
.Yi .Yi-case .game .fifth-goods {
  padding: 30px 0  30px 0 ;
  display: flex;
}
.Yi .Yi-case .game .fifth-goods .left-box {
  width: 70px;
  height: 300px;
  position: relative;
  min-height: 345px;
}
.Yi .Yi-case .game .fifth-goods .left-box .circle-1 {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
  background-color: #fff;
  color: #ff3a00;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
}
.Yi .Yi-case .game .fifth-goods .left-box .circle-2 {
  text-align: center;
  line-height: 45px;
  font-weight: 700;
  font-size: 12px;
  color: #ff3a00;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 105px;
  left: 13px;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
}
.Yi .Yi-case .game .fifth-goods .left-box .circle-3 {
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  font-size: 16px;
  color: #ff3a00;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 220px;
  left: 5px;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
}
.Yi .Yi-case .game .fifth-goods .left-box .circle-3::after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid #e1e1e1;
  border-right: 2px solid #ff4800;
  transform: rotate(-45deg);
  border-radius: 50%;
}
.Yi .Yi-case .game .fifth-goods .left-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 35px;
  width: 2px;
  height: 100%;
  background-color: #e1e1e1;
}
.Yi .Yi-case .game .right-box {
  flex: 1;
}
.Yi .Yi-case .game .right-box p {
  padding: 0 20px;
  text-align: left;
  padding: 0 5px;
}
.Yi .Yi-case .game .right-box p.title {
  display: inline-block;
  background-color: #ff9b00;
  color: #fff;
  border-radius: 4px;
  margin-left: 5px;
}
.Yi .Yi-case .game .right-box p.title::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: #ff9b00;
  transform: rotate(45deg);
}
.Yi .Yi-case .game .right-box > div {
  position: relative;
}
.Yi .Yi-case .game .right-box .box1 {
  position: absolute;
  top: 65px;
}
.Yi .Yi-case .game .right-box .box2 {
  position: absolute;
  top: 150px;
}
.Yi .Yi-case .game .right-box .box3 {
  position: absolute;
  top: 270px;
}
.Yi .Yi-case .Yi-page {
  bottom: 5px;
  text-align: center;
  left: 50%;
  transform: translateX(50%);
}
.Yi .Yi-case .Yi-page span {
  width: 20px;
  height: 2px;
  border-radius: 0;
  margin-right: 20px;
}
.Yi .Yi-case > div:last-child {
  margin-right: none;
}
@media screen and (max-width: 1200px) {
  .Yi .Yi-case .game {
    width: 455px;
    margin-right: 30px;
  }
  .Yi .Yi-case .game .game-left,
  .Yi .Yi-case .game .game-right {
    width: 50%;
  }
  .Yi .Yi-case .game .game-left p,
  .Yi .Yi-case .game .game-left .Yi-text {
    padding: 0 ;
  }
}
@media screen and (max-width: 992px) {
  .Yi .Yi-case .game {
    width: 345px;
    margin-right: 30px;
  }
  .Yi .Yi-case .game .game-left,
  .Yi .Yi-case .game .game-right {
    width: 50%;
  }
  .Yi .Yi-case .game .game-left p,
  .Yi .Yi-case .game .game-left .Yi-text {
    padding: 0 ;
  }
}
@media screen and (max-width: 748px) {
  .Yi .Yi-case .game {
    width: 100%;
    margin-right: 0;
  }
  .Yi .Yi-case .game .game-left,
  .Yi .Yi-case .game .game-right {
    width: 50%;
  }
  .Yi .Yi-case .game .game-left p,
  .Yi .Yi-case .game .game-left .Yi-text {
    padding: 0 ;
  }
}
